<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isgw.isgw">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ISGW"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity android:name=".Activities.AccountActivity" />
        <activity android:name=".Activities.ElectricityActivity" />
        <activity android:name=".Activities.CarbonActivity" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.PaymentActivity" />
        <activity
            android:name=".Activities.GraphZoomActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Activities.AppliancesActivity" />
        <activity android:name=".Activities.RewardsActivity"></activity>
    </application>

</manifest>